@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/button/mdc-button";
@import "@material/ripple/mdc-ripple";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');

.screen {
  width: 50%;
  margin: 80px auto 0;
  order: 2;
}

.title {
  position: fixed;
  top: 0;
  background-color: white;
  color: black;
  width: 100%;
  height: 80px;
  padding: 0 2em;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline;
}

.app-name {
  float:left;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.user-info {
  margin: 29px 0;
  padding: 0 50px;
}

.total{
  color: black;
  font-weight: bold;
  padding: 20px;
  text-align: right;
  margin: auto;
}

.flex-element {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
}

.drawer {
  margin: 80px 0 0 0 ;
  order: 1;
}

.app-name {
  padding: 5px 25px;
  margin: 10px;
}

.modal {
  margin: 15vh 25vw 15vh 25vw;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-list {
  order: 2;
  margin: auto;
  background-color: white;
}

.modal-pic {
  order: 1;
  height: 100%;
  width: auto;
  overflow-y: auto;
}

.receipt-pic {
  max-width: 400px;
  height: auto;
}

.close-button {
  background-color: black;
  color: white;
  font-weight: bold;
}

.list-align {
  margin: 0 0 0 16px;
}

.logout-button {
  float: right;
  margin: 22px 0;
}

.right-title-bar {
  float: right;
  padding: 0 40px;
  display: inline-flex;
}
